body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #21adff;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: #848181
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_box {
    background-color: #fffefc;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10%;
    padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}
.register_form{
	background-color: #fffefc;
	height: -webkit-fill-available;
	padding: 5% 10%;
}
.logo_wrapper {
   display: flex;
   justify-content: center;
}
.login_area {
	padding: 20px;
}
.logo {
    height: 60%;
    width: 60%;
    margin: 5%;
}
.btn {
    width: 100%;
	background: #f76425;
	color: white;
	border-radius: 5px;
	padding: .5em;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.btn:hover {
	box-shadow: none !important;
	outline: 0px !important;
	background: #f74d05;
}
