
<!-- Reason for having the templates folder at the root.-->
<!-- https://stackoverflow.com/questions/54730747/how-do-i-use-a-template-from-one-app-in-another-app/54731001#54731001 -->
<!-- templates/home.html -->

<!-- Note: we can change this to be more robust by redirecting to a different homepage if the user is not authenticated -->
{% extends "base.html" %}
{% load static %}
{% block script %}
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   <!-- Bootstrap-->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>


     <!-- Style-->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"/>


   <!-- Javascript-->
  <script src="{% static 'js/friends.js' %}"></script>
  <script src="{% static 'js/validation.js' %}"></script>
  <script>
  function private(){
    var values = $("#id_privacy").val();
  if(values == 1){
    $("#id_accessible_users").parent().show();
  }
  else
    $("#id_accessible_users").parent().hide();
  }

$("#id_privacy").change(function(){
  private();
})
private();

function edit(){

}
 
</script>


   <!-- Cloudflare-->
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>

{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
<div class="wrapper">

  <div id="postContainer">
    <div id = "createPost">

  <p class = "greeting">What's on your mind,  <span class ="name">{{ user }}</span></p>


  <form method="POST" action="" , enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class = "settings">
    <div class="fieldWrapper">
        {{ form.content.errors }}
        <label for="{{ form.content.id_for_label }}">Content</label>
        {{ form.content }}
    </div>

    <div class = settingss>
        <div class="fieldWrapper_row">
        <div class="fieldWrapper_photo">
            {{ form.image.errors }}
            <label for="{{ form.image.id_for_label }}">Content</label>
            {{ form.image }}
        </div>
        <div class="fieldWrapper_privacy">
            {{ form.privacy.errors }}
            <label for="{{ form.privacy.id_for_label }}">Content</label>
            {{ form.privacy}}
            {{ form.accessible_users.errors }}
            <label for="{{ form.accessible_users.id_for_label }}">Content</label>
            {{ form.accessible_users }}
        </div>
      </div>
        <div class="fieldWrapper_submit">
            {{ form.unlisted.errors }}
            <label for="{{ form.unlisted.id_for_label }}">Content</label>
            {{ form.unlisted }}
        
   

    <input type="submit" class="btn btn-primary" value="Share" />
  </div>
  </div>  
  </div>
  </form>
  {% if unlisted_instance %}
  <p> Your posts was created. Access it <a href="{{ unlisted_instance.get_detail_absolute_url }}"> Here</a></p>
{% endif %}
</div>
<form method="GET" action="">
  <input
    type="text"
    name="query"
    placeholder="Search posts"
    value="{{ request.GET.query }}"
    />
  <input type="Submit" value="Search" />
  <a href="/home">Clear search</a>
</form>

  <div class="stream">
    {% for obj in object_list %}
    <!-- check if is Post object -->
    {% if obj.user %}
    <div class="stream_post">
      <div class = "top_row">
        <div class ="post_info">
          <div class = "author_edit">
        <p class = "author">
            {{ obj.user }} </p>
            {% if obj.user == request.user %}
            <div class="dropdown">
                <input class="edit_button" alt="edit" width="40" type="image" src="{% static 'images/edit.png' %}" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </input>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="{{ obj.get_edit_absolute_url }}">Edit</a>
                    <a class="dropdown-item" href="{{ obj.get_delete_absolute_url }}">Delete</a>
                </div>
              </div>
            {% endif %}
          </div>
            <p class = "post_date">
                {{ obj.timestamp }}
          </p>
        </div>
          <p class = "privacy"> 
            <img src="{% static 'images/lock.png' %}" alt="privacy" width="30">  
            {{ obj.get_privacy_display}}   
          </p>
        </div> <!-- top row end-->
      <!-- column 1 -->     
      <div class="post_content">
        <!--  thumbnail 1  -->

        <div class="caption">
          <!-- caption -->
          <p>
            {{ obj.content | linebreaks }}
          </p>
        </div>

          {% if obj.image %}
          <div class="image">
          <img src="{{ obj.image.url }}" alt=""/> 
        </div><!-- caption -->
          {% endif %}
    
              </div><!-- caption -->
      </div>
          <!-- PUT COMMENT SECTION HERE. -->
    
  

    {% else %}
    <div class="col-sm-6 col-md-4">
      <p>{{ obj }}</p>
    </div>

    {% endif %} {% endfor %}
  </div>
</div>

</div>
  {% endif %} 
  {% endblock %}

    
   
