<!-- Reason for having the templates folder at the root.-->
<!-- https://stackoverflow.com/questions/54730747/how-do-i-use-a-template-from-one-app-in-another-app/54731001#54731001 -->
<!-- templates/home.html -->

<!-- Note: we can change this to be more robust by redirecting to a different homepage if the user is not authenticated -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Homepage</h1>
    {% if user.is_authenticated %}

    <form method="GET" action="">
      <input
        type="text"
        name="query"
        placeholder="Search posts"
        value="{{ request.GET.query }}"
      />
      <input type="Submit" value="Search" />
    </form>

    <h1>What's on your mind, {{ user }}</h1>

    <h3>Create Post</h3>

    <form method="POST" action="" , enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Share" />
    </form>

    <div class="row">
      {% for obj in object_list %}
      <div class="col-sm-6 col-md-4">
        <!-- column 1 -->
        <div class="thumbnail">
          <!--  thumbnail 1  -->
          <br />
          {% if obj.image %}
          <img src="{{ obj.image.url }}" alt="" /> <br />
          {% endif %}
          <div class="caption">
            <!-- caption -->
            <h4>
              {{ obj.user }}
              <a href="{{ obj.get_detail_absolute_url }}">{{ obj.status }}</a>
              {{ obj.timestamp }}
              <!-- | timesince | ago  -->
            </h4>
            <p>
              {{ obj.content | linebreaks }}
            </p>
            <p>
              <a
                href="{{ obj.get_detail_absolute_url }}"
                class="btn btn-primary"
                role="button"
                >View</a
              >
            </p>
            <!-- btn 2 -->
            <p>
              <a
                href="{{ obj.get_delete_absolute_url }}"
                class="btn btn-primary"
                role="button"
                >Delete</a
              >
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a href="{% url 'logout' %}">Logout</a>
    {% if user.is_admin %}
    <p><a href="{% url 'administration' %}">Admin</a></p>
    {% endif %} {% else %}
    <p>Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
