{% extends "base.html" %} 
{% load static %} 
{% block script %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script> <!-- Bootstrap-->
 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
</script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"><!-- Style-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"><!-- Javascript-->
<script src="{% static  'js/home.js'  %}"></script> 
<link rel="stylesheet" href="{% static 'style/home.css' %}">
<!-- Cloudflare-->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
{% endblock %} 
{% block content %} 
<div class="wrapper">
<div id ="postContainer">
<div class = "post_view">
<div class="stream__post">

    <form method="POST" action="" , enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class = "wave_btn" value="Share" />
    </form>
  </div>
</div>
</div>
</div>
    <script>
      window.onload = function(){
     auto_text();
     private();}
    </script>
{% endblock %} 