<!-- templates/profile.html -->

{% extends "base.html" %}
{% load static %}
{% block script %}
 <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="{% static 'js/friends.js' %}"></script>
 <script src="{% static 'js/validation.js' %}"></script>
 <link rel="stylesheet" href="{% static 'style/profile.css' %}">
 <script>window.onload = setTabs;</script>
 {% endblock %}
 {% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
      <div class = 'person_info'>
        <p class = "greeting"><span class ="hello">Hello,<br> </span>my name is <span class ="name">{{ user }} </span></p>
          <div id="followBtnContainer">
            {% if user.id != request.user.id %}
              <div id="followBtnContainer">
                <button class = "friend_btn" id = {{button_text}} onclick="change_follow('{{ request.user.id }}', '{{ user.id }}', this)">{{button_text}}</button>
              </div>
            {% endif %}
        </div>
      </div>
  <!-- Profile details -->
  <div class = "details_tabs">
  <ul id="tabs">
      <li><a href="#" id = "tab1" name="tab1">About Me</a></li>
      <li><a href="#" id = "tab2" name="tab2">Posts</a></li>  
  </ul>
  <div id="content"> 
      <div class="tab1">      
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Github: {{ user.github }}</p>
        <p class = 'bio'> {{ user.bio }}</p>
        {% if user.id == request.user.id %}
        <input type=button onclick="location.href='edit'" value = "Edit Profile">
        {% endif %}
      </div>
      <div class="tab2">...</div>
  </div>
</div>
</div> 


  <!-- TO DO - redirect to homepage, should not reach this point-->
  {% endif %}
  {% endblock %}

