
.author{
	font-size: 1.2em;
	color:#424344;
	margin-bottom:0;
}
.author_edit {
	display: flex;
	align-items: baseline;
}
.body * {
	font-family: Roboto, sans-serif;
}
.comments {
	width: 90%;
	align-self: center;
	display: flex;
	flex-direction: column;
}

.lead {
	font-size: 1em;
	text-transform: uppercase;
	color: #abacad

}
#createPost_tabs{
	width: 86%;
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	flex-shrink:0;
}
#createPost{
 	background-color: white;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	width: 86%;
 	flex-shrink:0;
 }
#createPost .settings{
 	width: 100%;
 	display: flex;
 	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 30px;

}
#createPost_tab{
	margin-top: 30px;
}

#createPost_tabs .tabs  {
	width: 55%;
	align-self: flex-start;
}
#createPost_tabs .tabs *{
	display: flex;
	flex-direction: column;
	align-items:center;
}
#createPost_tabs .tabs a {
	height: 70px;
	background-color: #ffca3c8f;
	opacity: unset;
	text-shadow: none;
	color:beige;
	padding: .7em 2.5em;
}
#createPost_tabs .tabs a:hover, #createPost_tabs .tabs a:active {
	background-color: #fffffe;
	color: #023658;
}
#createPost form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}
.edit_button{
	height: 100%;
	margin-right: 5px;
}

.edit_button:hover, .edit_button:focus{
	filter:contrast(200%);
	outline: none;
}
.fieldWrapper_submit{
	display: flex;
	justify-content: flex-end;
}
.fieldWrapper_submit *{
	display: flex;
	width: fit-content;
}
.github_post p{
	padding: 10px;
}
.home_wrapper{
	height: auto;
}
.link-span{
position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}


.fieldWrapper_privacy{
	display: flex;
	margin: 20px;
	flex-shrink:0;
	}
.fieldWrapper_privacy *{
	height: fit-content;
	margin: 10px;
}	
.fieldWrapper_photo {
	margin-top: 2em;
	

}
.fieldWrapper_submit{
	display: flex;
	align-items: center;
	padding-top: 1em;
	flex-shrink:0;
}


.fieldWrapper_submit *{
	display: flex;
	width: fit-content;
}
#id_unlisted {
	margin-left: 10px;
	transform: translateY(-5px);
	flex-shrink: 0;
}

#id_content {
		border: none;
		padding-left: 1em;
		padding-top: 1em;
		height: 50px;
		resize: none;
		outline: none;
		width: 90%;
}
	
.link-span{
position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}


.privacy p{
 	font-size: .9em;
}
.privacy img{
	width: 28px;
	margin-right: 10px;
}
.privacy {
	display: flex;
	align-items: baseline;
	background-color: #ffca3c;
	margin-bottom: 0;
	margin-top: 10px;
}
.post_content img {
	width: 150px;	
}

.post_date {
	font-size: .85em;
	margin-top: .2em;
	margin-bottom:.1em;
	text-transform: uppercase;
	margin-left: 1em;
	color: #a2a3a5;
}
.post_content {
	display: flex;
	position: relative;
	margin: 0px 20px 0 60px;
	flex-direction: row;
	flex-shrink: 0;
}
.post_content p {
	flex-shrink: 1 0 auto;
}
#postContainer{
	width: 75%;
	align-items: center;
	display: flex;	
  flex-direction: column;
}

 
   .tabs {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	}



  .tabs li {
	/* margin: 0 0em 0 0; */
	flex-grow:1;
	}
  .tabs a:hover,
  .tabs a:focus{
	background: #fff;
  }
  
  .tabs a:focus {
	outline: 0;
  }
  
  .tabs #current_tab a{
	background: #fff;
	z-index: 3;
	text-decoration: underline;
	font-weight: 700;
	color:#00645c
  }
  .tabs a {
  	text-align: center;
  	width: -webkit-fill-available;
  	font-family: 'Nunito', sans-serif;
  	position: relative;
  	background: #d6d2d2;
  	opacity: .5;
  	padding: .7em 3.5em;
  	float: left;
  	color: #004463;
  	text-shadow: 0 1px 0 rgba(255,255,255,.8);
  	box-shadow: 0 1px 1px rgba(0,0,0,.4);
 }

.text_Wrapper {
	width: 90%;
	border-bottom: 1.5px solid #ffca3c;
	align-self: center;
}
textarea.form-control{
	width: -webkit-fill-available;
}
.top_row > div, .top_row > p {
	padding: 5px 15px 0 15px;
}
.top_row{
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}

.settingss {
	width: 100%;
	flex-shrink: 0;
}
.fieldWrapper_row{
	flex-shrink:0;
}
.showing {
	font-weight: 500 !important;
	color: #004160 !important;
	opacity: unset !important;
	background-color: #fdfdfd !important;
}

.stream_post, .github_post {
	background-color: white;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction:column;
	flex-shrink: 0;
	font-size: .9em;
}

.stream_post a{
	margin-right: 1em;
	color: #004160;
}
.stream_post:before, .github_post:before {
  content : "";
  top: -10px;
  height  : 100%;
  border-top:1px solid #ffca3c;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 10px;
}
#stream.showing, #github.showing {
	font-weight: 500;
	text-decoration: underline;
	opacity: unset;
	background-color: #fdfdfd;
	}
	.stream {
		width: 86%;
		margin-top: 40px;
		background-color: white;
		font-family: 'Nunito', sans-serif;
		margin-bottom: 100px;
	}
.post_view {
	width: 86%;
	margin-top: 40px;
	background-color: white;
	font-family: 'Nunito', sans-serif;
	display: flex;
	flex-direction: column;
	height: fit-content;
}


.stream_settings form{
	display: flex;
	padding: 10px 0 10px 10px;
	background-color: #fdfdfd;
	margin-bottom: 10px;
}
.view_more  {
	display: flex;
	justify-content: flex-end;
}

.wave_btn {
	background-color: #004160;
	border: none;
	padding: 1em 2em 1em 2em;
	color: white;
	text-transform: uppercase;
	margin-left: 20px;
	font-size: .8em;
	flex-shrink: 0;
}