 
  
  #content {
		background: #f9f7f7;
		padding: 2em;
		height:fit-content;
		position: relative;
		z-index: 2;
		border-radius: 0 1px 1px 1px;
		box-shadow: 0 0px 3px -2px rgba(0, 0, 0, .5);
	}
	
	
	.details_tabs {
		width:90%;
		background-color: #f9f7f7;
	
	}
	
	
	.link-span{
	position:absolute; 
		width:100%;
		height:100%;
		top:0;
		left: 0;
		z-index: 1;
	}
	
	
	#hide_div {
		display: none;
	}
	
	.greeting{
		 font-weight:500;
		 font-family: 'Roboto Slab', serif;
		 text-align: center;
		 font-size: 2em;
		 color:  #004160;
		}
	
	
	
	#friendBtnContainer{
		display: flex;
		margin-top: 7%;
		margin-right: 2em;
	}
	#friendBtnContainer *{
		margin-right: .5em;
	}
	.friend_btn.active{
		background-color: white;
		color: #00555f;
		opacity: .8;
	}
	
	
	.friend_btn {
			width: 100%;
			background-color: Transparent;
			border-color: #ffac35;
			border-width: 2px;
			color: #004160;
			padding: .5em;
			text-transform: uppercase;
			margin-bottom: 20px;
			padding-left: 50px;
			padding-right: 50px;
	}
	.friend_btn:hover {
		box-shadow: 3px 2px 15px -3px rgba(212, 122, 29, 0.75);
		outline: 0px !important;
	}
	#friendWrapper{
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	#friendBtnContainer{
		display: flex;
		margin-top: 7%;
		margin-right: 2em;
		margin-left: 2em;
		max-width: 90%;
	}
	.friend_btn.active{
		background-color: white;
		color: #00555f;
		opacity: .8;
	}
	#friendContainer a{
		color: black;
		margin-top: 10px;
	}
	#friendContainer{
		display: flex;
		justify-content:space-between;
		flex-wrap: wrap;
		max-width: 90%;
	}
	
	.friend_name img{
		width: 60px;
	}
	
	.friend_name{
		background-color: white;
		margin: 1em;
		display: flex;
		padding: 10px;
		flex-direction: column;
		align-items: center;
		width: 150px;
		height: 125px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	
	
	.link-span{
	position:absolute; 
		width:100%;
		height:100%;
		top:0;
		left: 0;
		z-index: 1;
	}
	
	
	.details_tabs {
		width:90%;
		background-color: #f9f7f7;
	
	}
	#hide_div {
		display: none;
	}
	
	.hello {
		font-size: 1.3em;
	}
	.name {
		color:#f9af50;
	}
	
	
				 #tabs {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		}
		#tabs li {
		/* margin: 0 0em 0 0; */
		flex-grow:1;
		}
		
		#tabs a {
			text-align: center;
			width: -webkit-fill-available;
			font-family: 'Nunito', sans-serif;
			position: relative;
			background: #d6d2d2;
			opacity: .5;
			padding: .7em 3.5em;
			float: left;
			color: #004463;
			text-shadow: 0 1px 0 rgba(255,255,255,.8);
			box-shadow: 0 1px 1px rgba(0,0,0,.4);
	 }
	
		#tabs a:hover,
		#tabs a:focus{
		background: #fff;
		}
		
		#tabs a:focus {
		outline: 0;
		}
		
		#tabs #current_tab a{
		background: #fff;
		z-index: 3;
		text-decoration: underline;
		font-weight: 700;
		color:#00645c
		}
	textarea.form-control{
		width: -webkit-fill-available;
	}
	.text_Wrapper {
		width: 90%;
		border-bottom: 1.5px solid #ffca3c;
		align-self: center;
		}
		
	textarea{
		height: 75x;
		width: 100%;
		margin: 2%;
	}
	/* Dropdown list Credit: https://www.w3schools.com/howto/howto_js_dropdown.asp*/
	.drpbtn{
		background-color: rgb(224, 165, 86);
		border-radius: 3px;
		color: #444;
		padding: 16px;
		border: none;
			cursor: pointer;
	}
	
	.drpbtn:hover,.drpbtn:focus{
		background-color: rgba(214, 161, 93, 0.945);
	}
	
	.drpdwn{
		display:inline-block;
		position:relative; left:40.3%;
	
	}
	
	.drpdwn-content{
		display:none;
		position:absolute;
		background-color: #ffffff;
		min-width: 30em;
		box-shadow: 0px px;
		z-index:1;
	}
	
	.drpdwn-content a{
		color: #000;
		padding: 12px 15px;
		text-decoration: none;
		display:block;
	}
	
	.drpdwn-content a:hover{
		background-color: rgb(195, 195, 195)
	}
	
	.show{display:block;}
	
	#notif{
		color:rgb(151, 57, 57);
	}