
<!-- Reason for having the templates folder at the root.-->
<!-- https://stackoverflow.com/questions/54730747/how-do-i-use-a-template-from-one-app-in-another-app/54731001#54731001 -->
<!-- templates/home.html -->

<!-- Note: we can change this to be more robust by redirecting to a different homepage if the user is not authenticated -->
{% extends "base.html" %}
{% load static %}
{% block script %}
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'style/profile.css' %}">
   <!-- Bootstrap-->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>

   <!-- Javascript-->
  <script src="{% static 'js/friends.js' %}"></script>
  


{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
<div class="wrapper">
    <!-- Friend Requests-->
    {% if friend_requests|length > 0 %}
    <div class ="drpdwn" id="friend_reqs_container">
      <button class= "drpbtn" id="friend_reqs_button" onclick= "filterRequests()">Friend Requests</button>
      <div class ="drpdwn-content"id="dropdown">

      </div>
    </div>
    {% endif %}
    <!-- Friends List -->
    <div>
            <div id="friendBtnContainer">
              <button class ="friend_btn" onclick="filterFriends('find', this)">Find</button>
              <button class ="friend_btn" onclick="filterFriends('following', this)">Following</button>
              <button class ="friend_btn" onclick="filterFriends('followers', this)">Followers</button>
              <button class ="friend_btn" onclick="filterFriends('friends', this)">Friends</button>
            </div>
      "
            <div id="friendContainer">
            </div>
          </div>
</div>
  {% endif %} 
  <!--Load local JS-->
  <script>var csrfToken = '{{ csrf_token }}'</script>
  {% if friend_requests|length > 0%}
    <script>displayNotifications('{{ friend_requests|length }}');</script>
    <script>closeDropDown();</script>
    {% for reqs in friend_requests %}
      <script>checkChanges("{{ user.id }}","{{ user.host }}","{{ reqs.requestor }}","{{ reqs.requestor_server }}");</script>
    {% endfor %}
  {% endif %}
  {% endblock %}

    
   
