<!-- Reason for having the templates folder at the root.-->
<!-- https://stackoverflow.com/questions/54730747/how-do-i-use-a-template-from-one-app-in-another-app/54731001#54731001 -->
<!-- templates/home.html -->
<!-- Note: we can change this to be more robust by redirecting to a different homepage if the user is not authenticated -->
  {% extends "base.html" %} 
  {% load static %} 

  {% block script %} <!-- jQuery -->
	 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script> <!-- Bootstrap-->
	 <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.0/showdown.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"><!-- Style-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Javascript-->
  <script src="{% static  'js/home.js'  %}"></script> 
  
  <link rel="stylesheet" href="{% static 'style/home.css' %}">
  <!-- Cloudflare-->
	 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> 
	<script>
	 window.onload = function(){
	   setTabs();
     setEmptyMessage();
     auto_text();
     private();
     file_listener();
     setStreamMarkdown();
	 }
  </script> 
  {% endblock %} 
  {% block content %} 
  {% if user.is_authenticated %}
	<div class="wrapper home_wrapper" >
		<div id="postContainer">
        <div id="createPost_tabs">
          <ul class="tabs">
              <li>
                <a class="showing" href="#" id="create_post" name="tab1">
                  <img alt="Create a post" src="{%  static  'images/create_post.png'  %}" width="30">
                    <span id="XXX">Create A Post</span></a>
              </li>
              <li>
                <a href="#" id="upload_image" name="tab2"> <img alt="Create a post" src="{%  static  'images/upload_image.png'  %}" width="30"><span id="XXX">Upload an Image</span></a>
              </li>
            </ul>
      		</div>
          <div id="createPost">
				<form action="" enctype="multipart/form-data" method="post" novalidate="">
					{% csrf_token %}
					<div class="settings">
              {{ form.content_type.errors }} <label for="{{ form.content_type.id_for_label }}"></label> {{ form.content_type }}
						<div class="text_Wrapper create_post">
              {{ form.content.errors }} <label for="{{ form.content.id_for_label }}"></label> 
              {{ form.content }}
            </div>
            <div class="fieldWrapper_photo upload_image">
                {{ form.image.errors }} <label for="{{ form.image.id_for_label }}"></label> {{ form.image }}
            </div>
						<div class="settingss" style="display: none;">
							<div class="fieldWrapper_row">
								<div class="fieldWrapper_privacy">
                  {{ form.privacy.errors }} <label for="{{ form.privacy.id_for_label }}"></label> {{ form.privacy}} 
                  {{ form.accessible_users.errors }} <label for="{{ form.accessible_users.id_for_label }}"></label> {{ form.accessible_users }}
		
							</div>
							<div class="fieldWrapper_submit">
                {{ form.unlisted.errors }} <label for="{{ form.unlisted.id_for_label }}">Unlisted</label> {{ form.unlisted }} 
                <input class="wave_btn" type="submit" value="Share">
							</div>
						</div>
					</div>
				</form>{% if unlisted_instance %}
				<p>Your posts was created. Access it <a href="{{  unlisted_instance.get_detail_absolute_url  }}">Here</a></p>{% endif %}
      </div>
    </div>
			<div class="stream">
				<div class="stream_settings">
					<ul class="tabs">
						<li>
							<a class="showing" href="#" id="stream_post" name="tab1">Stream</a>
						</li>
						<li>
							<a href="#" id="github_post" name="tab2">Github</a>
						</li>
					</ul>
        </div>
        {% load post_filters %}
        {% for obj in object_list %} <!-- check if is Post object -->
        {% if obj|get_post_type %}
				<div class="stream_post">
					<div class="top_row">
						<div class="post_info">
							<div class="author_edit">
             
                <a class="author" href="{% url 'profile' value=obj|get_author_id %}">{{ obj|get_author_name }}</a>
                <p class="post_date">{{ obj|get_time }}</p>
							</div>
						</div>
						<p class="privacy"> {{ obj|get_privacy}}</p>
          </div>
          {% if obj|markdown %}
					  <div class="markdown post_content">
                {% if obj|markdown_safe %}
                  {% autoescape off %}
                <pre>{{obj.content}}</pre>
                {% endautoescape %}
                {% else %}
                <pre>{{obj.content}}</pre>
                {% endif %}
            </div>
          {% elif obj|is_image_post %}
            <div>
                <a href="{{ obj.content }}">
                  <img src="{{ obj.content }}" />
                </a>
            </div>
          {% else %}
          <div class="post_content">
							{{ obj.content | linebreaks }}
            </div>
          {% endif %}
          <div class = "view_more">
          {% if  obj|get_user:request.user.id %}
          <div class="dropdown">
            <input alt="edit" aria-expanded="false" aria-haspopup="true" class="edit_button" data-toggle="dropdown" id="dropdownMenu2" src="{% static  'images/pencil.png'  %}" type="image" width="25px">
            <div aria-labelledby="dropdownMenu2" class="dropdown-menu">
              <a class="dropdown-item" href="{{  obj|get_edit }}">Edit</a> <a class="dropdown-item" href="{{  obj|get_delete }}">Delete</a>
            </div>
          </div>
          {% endif %}
          <a href="/posts/detail/{{obj.id}}">VIEW MORE</a>
        </div>
        </div>
        {% else %}
				<div class="github_post">
					<p>{{ obj }}</p>
        </div>
        {% endif %} 
        {% endfor %}
				<div class="github_post" id="empty_git" style="display:none">
					<p>You do not have any github posts.</p>
				</div>
			</div>
		</div>
  </div>
  {% endif %}
  <!-- Local JS -->
  <script>var csrfToken = '{{ csrf_token }}'</script>
  <script>checkChanges('{{ user.id }}','{{ user.host }}','{{ nodeList|safe }}');</script> 
  {% endblock %}