{% extends "base.html" %} {% load static %} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  rel="stylesheet"
/><!-- Style-->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  rel="stylesheet"
/><!-- Javascript-->
<script src="{% static  'js/home.js'  %}"></script>
<link rel="stylesheet" href="{% static 'style/home.css' %}" />
<!-- Cloudflare-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
{% endblock %} {% block content %}
<div class="wrapper">
  <div id="postContainer">
    <div class="post_view">
      <div>
        <div class="top_row">
          <div class="post_info">
            <div class="author_edit">
              {% load post_filters %}
              <p class="author">{{ instance | get_author_name }}</p>
              <p class="post_date">{{ instance.timestamp }}</p>
            </div>
          </div>
          <p class="privacy">{{ instance.privacy }}</p>
        </div>
        {% if instance|is_image_post %}
        <div>
            <a href="{{ instance.content }}">
                <img src="{{ instance.content }}" />
            </a>
        </div>
        {% else %}
        <div class="post_content">
            <p>{{ instance.content | linebreaks }}</p>
        </div>
        {% endif %}
        <div class="view_more">
          {% if obj.user == request.user %}
          <div class="dropdown">
            <input
              alt="edit"
              aria-expanded="false"
              aria-haspopup="true"
              class="edit_button"
              data-toggle="dropdown"
              id="dropdownMenu2"
              src="{% static  'images/pencil.png'  %}"
              type="image"
              width="25px"
            />
            <div aria-labelledby="dropdownMenu2" class="dropdown-menu">
              <a
                class="dropdown-item"
                href="{{ instance.get_edit_absolute_url }}"
                >Edit</a
              >
              <a
                class="dropdown-item"
                href="{{ instance.get_delete_absolute_url }}"
                >Delete</a
              >
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="comments">
        <p class="lead">Comments</p>
        <form method="POST" action="">
          {% csrf_token %}
          <div class="text_Wrapper ">
            <label for="{{ form.content.id_for_label }}"></label>
            {{ comment_form.content }}
            {{ comment_form.content_type }}
            {{ comment_form.object_id }}
          </div>
          <div class="fieldWrapper_submit">
            <input
              type="submit"
              class="wave_btn"
              value="Post comment"
              class="btn btn-default"
            />
          </div>
        </form>

        {% for comment in comments %}
        <blockquote>
          <p>{{ comment | get_comment_content }}</p>
          <p>
            by {{ comment | get_comment_author }} on {{ comment.published }}
          </p>
        </blockquote>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
