<!-- TODO: Need to tell user that they can login after admin approval -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
</head>
<body>
  {% if form.errors %}
  <p>Your username and password did not match.</p>
  {% endif %}

  {% if next %}
  <p>You do not have access to view this page.</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <p>Username: {{ form.username }}</p>
    <p>Password: {{ form.password }}</p>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}">
  </form>
  <p>Want to <a href="{% url 'register' %}">create an account?</a></p>
</body>
</html>
